<%- include("header") -%>  
    <div class="box" id="heading">
        <h1><%= ListTitle %></h1>
    </div>
    <div class="box">
        <% for(var i =0; i<itemArray.length; i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=itemArray[i]%></p>
            </div>
        <%}%> 

        <form class="" action="/" method="post">
            <input type="text" name="newInput" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= ListTitle %>">+</button>
        </form>
    </div>
<%- include("footer") -%>  
